<form class="review-form" name="review-form">
    <div class="v2_29"></div>
    <div class="v2_20">
        <div class="v2_18"></div>
        <span class="review-submit">Leave feedback</span>
    </div>
    <div class="v2_21">
        <label class="review-label">
            <textarea name="feedback" placeholder="Your feedback"></textarea>
        </label>
    </div>
    <div class="v2_22">
        <label class="review-label">
            <input type="text" name="place" placeholder="Place name">
        </label>
    </div>
    <div class="v2_23">
        <label class="review-label">
            <input type="text" name="name" placeholder="Your name">
        </label>
    </div>
    <span class="v2_11">Leave a feedback for this place</span>
    <div class="review-close"></div>
</form>
