body {
    margin: 0;
    padding: 0;
}



.ya-map-container {
    width: 100vw;
    height: 100vh;
}


.old-reviews-container > div {
    margin: 10px 0;
}
.old-name-span {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}
.old-place-span {
    font-size: 18px;
    font-weight: 400;
}
.old-timestamp-place-div {
    font-size: 14px;
    font-style: italic;
}
.old-feedback-div {
    font-size: 16px;
    font-style: normal;
}
/*review template*/
.v2_10 {
    padding: 10px 0;
    border-radius: 6px;
    border: 1px solid black;
    margin-bottom: 16px;
    width: 100%;
    max-width: 306px;
}
.old-reviews-container {
    width: 100%;
    max-height: 160px;
    overflow: scroll;
    padding: 0 10px;
    box-sizing: border-box;
}
.old-reviews-container * {
    overflow-wrap: anywhere;
    word-break: break-all;
}
.review-container {
    position: absolute;
    z-index: 1;
    padding: 16px 16px 8px 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    background: white;
}

.review-form {
    background: white;
    display: flex;
    flex-direction: column;
}

.review-form div:not(:last-child) {
    margin-bottom: 6px;
}
.review-label {
    display: flex;
    flex-direction: column;
}
.review-label input[type="text"]{
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid black;
}
.review-label textarea {
    width: 308px;
    height: 98px;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    font-family: sans-serif;
    border: 1px solid black;
}

.input-error {
    border: 1px solid red !important;
}

.review-submit {
    color: rgba(255,255,255,1);
    position: absolute;
    width: 308px;
    top: 8px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
    cursor: pointer;
}


.review-close {
    width: 15px;
    height: 14px;
    opacity: 1;
    position: absolute;
    top: -4px;
    left: 326px;
}
.review-close::before {
    content: 'x';
    font-weight: 700;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    color: gray;
    position: fixed;
}
.review-close:hover::before {
    color: black;
}



.v2_11 {
    text-align: center;
    font-family: Arial;
    font-weight: Bold;
    font-size: 18px;
    position: relative;
}
.v2_23 {
    position: relative;
}
.v2_22 {
    position: relative;
}
.v2_21 {
    position: relative;
}

.v2_18 {
    height: 40px;
    background: rgba(255,134,99,1);
    opacity: 1;
    position: relative;
    border-radius: 3px;
}
.v2_20 {
    position: relative;
}
/*review template*/


.display-none {
    display: none;
}
